<nav class="navbar navbar-default navbar-fixed-top" ng-if="isLoggedIn()">
    <div class="container-fluid" style="margin-left: -15px">

        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="" ng-click="navigateTo(Views.Home)">Home</a></li>
                <li><a href="" ng-click="navigateTo(Views.Conversations)">Conversations</a></li>
                <li><a href="" ng-click="navigateTo(Views.SubReddits)">Subreddits</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-ban-circle"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </nav>

<div style="height: 70px; width: 100%" ng-if="isLoggedIn()"></div>